@charset "UTF-8";
/* Custom for menus: */
#menu {
  vertical-align: top;
  display: inline-block;
  width: 20%;
}

.filterselect {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: grid;
}

.filterselect p {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: grid;
}

.slider {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

/* Header style */
#header {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4; /* Optional background color */
  border-bottom: 1px solid #ccc; /* Optional bottom border */
}

#header h1 {
  margin: 0;
  font-size: 24px; /* Title font size */
  font-family: Arial, sans-serif; /* Title font family */
}

/* @start MAIN CALENDAR */
.tail-datetime-calendar, .tail-datetime-calendar *, .tail-datetime-calendar *:before,
.tail-datetime-calendar *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tail-datetime-calendar {
  top: 0;
  left: 0;
  width: 360px;
  height: auto;
  margin: 15px;
  padding: 0;
  z-index: 3000;
  display: block;
  position: absolute;
  visibility: hidden;
  direction: ltr;
  border-collapse: separate;
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  background-color: white;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.tail-datetime-calendar:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  visibility: hidden;
}

.tail-datetime-calendar.calendar-static {
  top: auto;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  position: static;
  visibility: visible;
}

.tail-datetime-calendar button.calendar-close {
  top: 100%;
  right: 15px;
  color: #303438;
  width: 35px;
  height: 25px;
  margin: 1px 0 0 0;
  padding: 5px 10px;
  opacity: 0.5;
  display: inline-block;
  position: absolute;
  font-size: 14px;
  line-height: 1.125em;
  text-shadow: none;
  border: 0;
  outline: none;
  background-color: white;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBmaWxsPSIjMzAzNDM4IiBkPSJNNy40OCA4bDMuNzUgMy43NS0xLjQ4IDEuNDhMNiA5LjQ4bC0zLjc1IDMuNzUtMS40OC0xLjQ4TDQuNTIgOCAuNzcgNC4yNWwxLjQ4LTEuNDhMNiA2LjUybDMuNzUtMy43NSAxLjQ4IDEuNDhMNy40OCA4eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  transition: opacity 142ms linear;
  -webkit-transition: opacity 142ms linear;
}

.tail-datetime-calendar button.calendar-close:hover {
  opacity: 1;
}

/* @end MAIN CALENDAR */

/* @start CALENDAR TOOLTIP */
.tail-datetime-calendar .calendar-tooltip {
  color: white;
  width: auto;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  background-color: #303438;
  border-radius: 3px;
}

.tail-datetime-calendar .calendar-tooltip:before {
  top: -7px;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -6px;
  content: "";
  display: block;
  position: absolute;
  border-width: 0 7px 7px 7px;
  border-style: solid;
  border-color: transparent transparent #303438 transparent;
}

.tail-datetime-calendar .calendar-tooltip .tooltip-inner {
  width: auto;
  margin: 0;
  padding: 4px 7px;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

/* @end CALENDAR TOOLTIP */

/* @start CALENDAR ACTIONs */
.tail-datetime-calendar .calendar-actions {
  color: #303438;
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 0;
  display: table;
  overflow: hidden;
  border-spacing: 0;
  border-collapse: separate;
  background-color: white;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px 3px 0 0;
}

.tail-datetime-calendar .calendar-actions span {
  margin: 0;
  padding: 0;
  opacity: 0.5;
  display: table-cell;
  position: relative;
  text-align: center;
  line-height: 40px;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 142ms linear, background 142ms linear;
  -webkit-transition: opacity 142ms linear, background 142ms linear;
}

.tail-datetime-calendar .calendar-actions span[data-action] {
  cursor: pointer;
}

.tail-datetime-calendar .calendar-actions span.action {
  width: 50px;
  font-size: 22px;
}

.tail-datetime-calendar .calendar-actions span.year {
  width: 80px;
  font-size: 14px;
  text-transform: lowercase;
  font-variant: small-caps;
}

.tail-datetime-calendar .calendar-actions span.month {
  width: auto;
  font-size: 14px;
  text-transform: lowercase;
  font-variant: small-caps;
}

.tail-datetime-calendar .calendar-actions span.disabled {
  opacity: 0.1;
  cursor: default;
}

.tail-datetime-calendar .calendar-actions span:hover:not(.disabled) {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.04);
}

.tail-datetime-calendar .calendar-actions span:hover[data-action] {
  cursor: pointer;
}

/* @end CALENDAR ACTIONS */

/* @start CALENDAR DATE & TIME */
.tail-datetime-calendar table {
  color: #303438;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background-color: white;
}

.tail-datetime-calendar table thead th {
  color: #303438;
  width: auto;
  height: auto;
  padding: 8px 6px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-variant: small-caps;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

.tail-datetime-calendar table tbody td {
  color: #303438;
  width: auto;
  height: auto;
  padding: 0;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}

.tail-datetime-calendar table thead th span {
  display: inline-block;
}

.tail-datetime-calendar table thead th .cell-top {
  height: 14px;
  line-height: 12px;
  font-size: 12px;
}

.tail-datetime-calendar table tbody td button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  background: none;
  transition: background 142ms linear, border 142ms linear;
  -webkit-transition: background 142ms linear, border 142ms linear;
}

.tail-datetime-calendar table tbody td div {
  width: 100%;
  height: 100%;
  display: block;
}

.tail-datetime-calendar table thead th:hover {
  cursor: default;
}

.tail-datetime-calendar table thead th.selected {
  color: #3CA5E8;
}

.tail-datetime-calendar table thead th.selected span.cell-top {
  color: #3CA5E8;
}

.tail-datetime-calendar table tbody td:hover {
  cursor: default;
}

.tail-datetime-calendar table tbody td button:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}

.tail-datetime-calendar table tbody td button:hover.outside-month {
  cursor: default;
  border-color: transparent;
  background: none;
}

.tail-datetime-calendar table tbody td.selected {
  background-color: #3CA5E8;
}

.tail-datetime-calendar table tbody td.selected button {
  color: white;
  font-weight: bold;
}

.tail-datetime-calendar table tbody td.selected:hover button {
  background: none;
}

.tail-datetime-calendar table tbody td.disabled button {
  opacity: 0.1;
  cursor: default;
}

.tail-datetime-calendar table tbody td.disabled:hover button {
  background: none;
  border-color: transparent;
  cursor: default;
}

/* @end CALENDAR DATE & TIME */

/* @start MAIN CLOCK */
.tail-datetime-calendar .calendar-clock {
  color: #303438;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0 8px 0;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background-color: white;
  border-radius: 0 0 3px 3px;
}

.tail-datetime-calendar .calendar-clock-cell {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: table-cell;
  position: relative;
  text-align: center;
  font-size: 13px;
}

.tail-datetime-calendar .calendar-clock-cell.separator {
  font-size: 14px;
}

.tail-datetime-calendar .calendar-clock-cell span,
.tail-datetime-calendar .calendar-clock-cell span:after {
  width: auto;
  height: auto;
  margin: 0;
  padding: 6px 0;
  display: inline-block;
}

.tail-datetime-calendar .calendar-clock-cell span[data-clock] {
  width: 50px;
  font-size: 12px;
  cursor: pointer;
}

.tail-datetime-calendar .calendar-clock-cell span:after {
  top: 0;
  right: -4px;
  content: attr(data-clock);
  display: block;
  position: absolute;
}

.tail-datetime-calendar .calendar-clock-cell span:hover,
.tail-datetime-calendar .calendar-clock-cell span:hover:after {
  color: #3CA5E8;
}

.tail-datetime-calendar .calendar-clock-cell span.active,
.tail-datetime-calendar .calendar-clock-cell span.active:after {
  color: white;
  background-color: #3CA5E8;
}

.tail-datetime-calendar .calendar-clock-cell span.disabled {
  opacity: 0.1;
  cursor: default;
}

.tail-datetime-calendar .calendar-clock-cell span:hover.disabled {
  background: none;
  color: #303438;
  cursor: default;
}

/* @end MAIN CLOCK */
